.color-nav {
    background-color: #EDBBCE;
    color: #2E36AA !important;
    margin-top: 10px;
    font-family: 'Alatsi', sans-serif;
}

.nav-links {
    float: right;
}

.nav-links a:hover {
    /* background-color: #EFDCCE; */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #2E36AA !important;
    border-radius: 50px;
    border-color: #2E36AA;
    border-style: solid;
    border-width: 2px;
  }

#title:hover {
    color: #aa2e64 !important;
    margin-top: 10px;
    font-family: 'Alatsi', sans-serif;
  }

.nav-links a, .color-nav a {
    color: #2E36AA !important ;
    margin: 10px !important;
    text-decoration: none !important;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #EDBBCE;
    border-style: solid;
    border-width: 2px;
  }

.nav-links a.active {
    margin: 10px !important;
    text-decoration: none !important;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}


