.jobs-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 2px;
    border-style: solid;
    border-color: #2E36AA;
    width: 68% !important;
    font-size: 12px;
    animation: fadeInAnimation 0.25s linear;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading-container{
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

tbody{
    font-size: 10px;
}

#badge{
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 10px;
  color: white;
}

/* BADGE COLORS - based on application status value (class name) */
.Applied{
  background-color: #EFDCCE;
}

.Followed{
  background-color: #ccbde3;
}

.Archived {
  background-color: rgb(213, 213, 213);
}

.Interviewing {
  background-color: #eecdda;
}